body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #F8FAFC;
    color: #1F2933;
}

.navbar {
    background: #2563EB;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 15px 40px;
    align-items: center;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 500;
}

.navbar a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 18px;
    font-weight: bold;
}

.btn-primary {
    background: #2563EB;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.btn-success {
    background: #16A34A;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}